.bir-tim {
	font-family: Montserrat, sans-serif;
}

/*-------------------- BODY ----------------------------------------------------*/

.bir-tim > #img, 
.bir-tim > #img-2 {
	display: none;
	position: fixed;
	bottom: 0;
}
.bir-tim > #img {
	max-height: 300px;
	opacity: 0.5;
}
.bir-tim > #img-2 {
	right: 0;
	max-height: 150px;
	opacity: 0.3;
}
/* 
.bir-tim > h1 {
	Styles is in "body-scrollbar.css"
} 
*/
.bir-tim > h2 {
	font-family: Chakra Petch, sans-serif;
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	color: #FF9900;
	margin: 0 0 55px 0;
}
.bir-tim > .timer {
	max-width: 870px;
	min-height: 150px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bir-tim .string {
	max-width: 840px;
	height: 100%;
	box-sizing: border-box;
	margin: 0 30px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	float: left;
}
.bir-tim .par {
	min-width: 290px;
	max-height: 130px;
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.one-bir {
	min-width: 145px;
	max-height: 130px;
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}



@media screen and (max-width: 481px) {
	.bir-tim > #img,
	.bir-tim > #img-2 {
		display: none;
	}
}