@font-face {
  font-family: "e-Ukraine-UltraLight";
  src: url('../../fonts/e-Ukraine/e-Ukraine-UltraLight.otf');
}

.wor {
  margin: 0 30px;
  text-align: center;
}

/*---------------------------------------- LEGEND --------------------*/
.legend {
  max-width: 780px;
  margin: 33px auto;
  padding: 0 0 0 5px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.legend_element {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 1px 5px;
  
  border-radius: 8px;
  border: 2px solid #78A2E1;
  
  color: #16181D;
  font-family: "e-Ukraine-UltraLight", sans-serif;
  font-size: 16px;
}
#blue.legend_element {
  border: 2px solid #78A2E1;
}
#green.legend_element {
  border: 2px solid #8FD855;
}

.legend_element:hover {
  transform: scale(1.05);
}

/*---------------------------------------- FILTER --------------------*/
.open_filters {
  display: none;
}

/*---------------------------------------- SORTIGN --------------------*/
.sorting {
  max-width: 780px;
  margin: 0 auto 33px auto;
  height: 40px;
  background-color: #D9D9D9;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sorting_by {
  height: 100%;
  margin: 0;

  display: flex;
  align-items: center;
}

.sorting_by > button {
  height: 25px;
  padding: 0 7px;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #16181D;
}

.sorting_by:hover {
  border-bottom: 2px solid #8F949C;
}
.sorting_by:hover > button {
  background-color: #8F949C;
}

.sorting_by_active {
  border-bottom: 2px solid #8F949C;
}
.sorting_by_active > button {
  background-color: #8F949C;
}

/*---------------------------------------- MENU --------------------*/
.works_list {
  max-width: 780px;
  margin: 0 auto 50px auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}



@media screen and (max-width: 480px) {
  /*---------------------------------------- LEGEND --------------------*/
  .legend {
    margin: 33px auto 10px auto;
    gap: 10px;
  }

  /*---------------------------------------- FILTER --------------------*/
  .open_filters {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 0 0 auto;

    background-image: url('../../images/filter_sort.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
  }

  /*---------------------------------------- SORTIGN --------------------*/
  .sorting {
    position: absolute;
    width: 80%;
    height: 0;
    
    right: 0;
    left: 0;
    z-index: 1;

    overflow: hidden;
    flex-direction: column;
    transition: 0.5s;
  }
  .sorting_open {
    height: 199px;
    box-shadow: 0px 7px 13px rgb(0, 0, 0, 19%);
  }
  
  .sorting_by {
    height: auto;
    margin: 0 5px;
  }
  
  .sorting_by > button {
    padding: 0 37px;
  }

  .sorting_by:hover {
    border-bottom: none;
  }
  
  .sorting_by_active {
    border-bottom: none;
  }

  /*---------------------------------------- MENU --------------------*/
  .works_list {
    margin: 13px auto 0 auto;
    gap: 15px;
  }
}
