.h  {
	margin: 0;
	padding: 0 0 100px 0;
}

/*-------------------- TECHNOLOGIES ----------------------*/
.technologies_section {
	max-width: 700px;
	margin: 0 auto 73px auto;
}

.titles_in_tech_section {
	margin: 0 auto 30px auto;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	color: #16181D;
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 36px;
}

.list_of_tech {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.list_of_tech > li {
	display: block;
	width: 50px;
	height: auto;
}

.logo_of_tech {
	width: 100%;
	height: auto;
	opacity: 0.8;
}

.logo_of_tech:hover {
	width: 100%;
	height: auto;
	opacity: 1;
}

/*-------------------- MENU ----------------------*/
.head_block_menu {
	max-width: 500px;
	height: 300px;
	margin: 0 auto;
	padding: 0;
  
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 80px 150px;
	grid-auto-columns: auto;
	grid-auto-rows: 80px 150px;
	grid-gap: 40px;
	grid-template-areas: "one one" "two three";
}
.head_block_menu > li {
	display: block;
	margin: 0;
	padding: 0;
}
.block_text {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	background: none;
	transition: 0.5s;
	border: 2px solid #6D6D6D70;
	border-radius: 33px 33px 33px 9px;
	box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.19);

	display: flex;
	justify-content: center;
	align-items: center;
}
.block_text:hover {
	border: 2px solid #6D6D6D;
}

.root_dark .block_text {
	border: 2px solid #F5F5F570;
}
.root_dark .block_text:hover {
	border: 2px solid #F5F5F5;
}


.image_background {
	position: absolute;
	width: 90px;
	height: 90px;
	top: -30px;
	right: 10px;
}
.image_background > path {
	transition: 0.5s;
	fill: #A2A2A2;
}
.block_text:hover .image_background > path {
	fill: #6D6D6D;
}
.root_dark .image_background > path {
	fill: #ABABAB;
	transition: 0.5s;
}
.root_dark .block_text:hover .image_background > path {
	fill: #F5F5F5;
}


.block_text img {
	position: absolute;
	width: 32px;
	top: 0px;
	right: 40px;
}

.h .text {
	display: flex;
	justify-content: center;
	align-items: center;

	color: #61DAFB;
	font-weight: 400;
	font-size: 30px;
	line-height: 48px;
}
.h .one {
	grid-area: one;
	width: 100%;
	height: 100%;
}
.h .two {
	grid-area: two;
}
.h .three {
	grid-area: three;
}

@media screen and (max-width: 481px) {
	.head_block_menu {
		height: auto;
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
	.block_text {
		justify-content: flex-start;

	  	border-radius: 23px 23px 23px 7px;
	}
	.block_text img {
	  	max-height: 55px;
	}
	.h .text {
		margin-left: 25px;
		
		font-size: 20px;
		line-height: 28px;
	}
}
