/*------------ MENU ----------------------*/

/* .cvs {
	max-width: 400px;
	margin: 50px auto 0 auto;
	padding: 0;
}
.div_in_cvs {
	max-width: 430px;
	height: 100%;
	margin: 0 auto;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.div_in_cvs > li {
	list-style-type: none;
	display: block;
	width: 180px;
	height: 130px;
}
.li_one {
	margin-bottom: 30px;
}
.button_in_cvs {
	width: 100%;
	height: 100%;
	border-radius: 39px;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.19);

	display: flex;
	justify-content: center;
	align-items: center;

	color: #FFF;
	font-weight: 100;
	font-size: 27px;
}

.button_in_cvs_one { background: linear-gradient(45deg, #16181D 25%, #FB6D3A); }
.button_in_cvs_two { background: linear-gradient(45deg, #16181D 25%, #A641B5); }



@media screen and (max-width:  480px){
	.cvs {
		min-height: 370px;
	}
	.div_in_cvs {
		justify-content: center;
		align-items: stretch;
	}
} */