/*-------------------- CONTACTS --------------------*/
.con .phone_email {
	width: 300px;
	height: 90px;
	margin: 0 auto;
	text-align: center;
  
	color: #16181D;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 39px;
}
.con .contacts {
	max-width: 480px;
	min-height: 200px;
	margin: 20px auto;
}
.con .string-icons {
	width: 100%;
	min-height: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.con .par-icons {
	width: 240px;
	height: 100px;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
}
.con .par-icons > a {
	text-decoration: none;
}
.con .icon {
	height: 60px;
	border-radius: 50%;
	box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.19);
}
.con .icon:hover {
	height: 70px;
	transition: 0.05s;
}
.con #par img {
	border-radius: 22%;
	box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.19);
}
