.gam {
    padding: 0 0 100px 0;
    /* text-align: center; */
}

/*-------------------- GAME FIELD --------------------------*/
/*-------------------- GAME FIELD --------------------------*/
/*-------------------- GAME FIELD --------------------------*/
.games_body {
    position: relative;
    width: 80%;
    height: 490px;
    margin: auto;
}
.increase_game_body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.game_map {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #D9D9D9;
    /* background-color: #1E2939; */

    /* display: flex;
    align-items: center; */

    /* background-image: url('./img/map_for_tank_game(1).png'); */
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 100% 100%; */
    /* background-size: 290% 290%; */
}
.game_map_image {
    position: absolute;
    left: 0;
    margin: 0;
}

.game_field {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}
.games_control {
    position: absolute;
    width: 100%;
    height: 100%;
}





/*-------------------- OBSTACLE --------------------------*/
/*-------------------- OBSTACLE --------------------------*/
/*-------------------- OBSTACLE --------------------------*/
.obstacle {
    position: absolute;
    width: 50px;
    height: 80px;
    /* top: 170px;
    left:530px; */

    background-color: #616974;
    z-index: 0;
}





